<app-nav></app-nav>
<div
  class="mainContainer"
  data-bs-spy="scroll"
  data-bs-target="#main"
  data-bs-root-margin="0px 0px -40%"
  data-bs-smooth-scroll="true"
  class="scrollspy-example bg-body-tertiary"
  tabindex="0"
>
  <div class="row header mb-5" id="home">
    <section class="main">
      <section>
        <div class="mainTxt">
          <h2 class="fs-1 mainheader">Lorem ipsum dolor sit amet</h2>
          <p class="">
            Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Ad sint error natus? Quos quisquam eveniet quis
            expedita ipsam aliquam dolores error molestiae, odio tempore soluta
            corrupti, cumque sint fugit libero. amet.
          </p>
        </div>
        <div>
          <button [routerLink]="['/register']" class="btn">Sgin Up</button>
        </div>
      </section>
    </section>
  </div>
  <div class="container-fluid mb-5" id="OurPlan">
    <div class="text-center mb-5">
      <h1 class="mainheader">Our plane</h1>
    </div>
    <div class="row cards justify-content-center justify-content-sm-evenly">
      <div #card class="card mb-3 col-8 col-sm-5 col-md-2">
        <img src="../../../assets/img/3.jpg" class="card-img-top" alt="..." />
        <div class="card-body p-3">
          <h5 class="card-title lead mainheader">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div #card class="card mb-3 col-8 col-sm-5 col-md-2">
        <img
          src="../../../assets/img/homeback.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body p-3">
          <h5 class="card-title lead mainheader">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div #card class="card mb-3 col-8 col-sm-5 col-md-2">
        <img src="../../../assets/img/2.jpg" class="card-img-top" alt="..." />
        <div class="card-body p-3">
          <h5 class="card-title lead mainheader">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="ourSer p-5" id="ser">
    <div class="row">
      <div class="col-12">
        <h1 class="mainheader">Our Services</h1>
        <p class="ps-3 mt-2 mainSub">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident
          quasi cupiditate quisquam numquam illo! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Natus, obcaecati harum et eos sequi
          nesciunt consequatur culpa modi molestias eaque quibusdam error animi
          quia enim iusto odio ipsum reiciendis sint.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="surCard mx-auto p-4 mt-5 col-10 col-md-3">
        <i class="bi bi-bar-chart-line"></i>
        <h4 class="mainheader">Lorem, ipsum.</h4>
        <p class="mainSub">
          Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum
          dolor sit amet, consectetur adipisicing elit. Atque beatae dolorem
          maxime veniam maiores. Accusantium officia voluptas consequatur at,
          corrupti corporis similique, deserunt animi dolore sed illo nostrum
          facilis doloribus.
        </p>
      </div>
      <div class="surCard mx-auto p-4 mt-5 col-10 col-md-3">
        <i class="bi bi-lightbulb"></i>
        <h4 class="mainheader">Lorem, ipsum.</h4>
        <p class="mainSub">
          Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum
          dolor sit amet, consectetur adipisicing elit. Atque beatae dolorem
          maxime veniam maiores. Accusantium officia voluptas consequatur at,
          corrupti corporis similique, deserunt animi dolore sed illo nostrum
          facilis doloribus.
        </p>
      </div>
      <div class="surCard mx-auto p-4 mt-5 col-10 col-md-3">
        <i class="bi bi-bar-chart-line"></i>
        <h4 class="mainheader">Lorem, ipsum.</h4>
        <p class="mainSub">
          Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum
          dolor sit amet, consectetur adipisicing elit. Atque beatae dolorem
          maxime veniam maiores. Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Optio doloribus repudiandae perspiciatis ipsum
          delectus magni inventore eligendi velit quia. Dignissimos, tempore.
        </p>
      </div>
    </div>
  </div>
  <div class="teams" id="teams">
    <div class="row text-center">
      <h1 class="mainheader p-5">Lorem ipsum dolor sit.</h1>
    </div>
    <div class="row">
      <div class="card mx-auto shadow-none col-7 col-sm-3 p-3 mb-3">
        <div class="roundendimg">
          <img
            src="../../../assets/img/team-3-800x800.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body text-center p-2">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sunt
            sapiente laudantium ipsum cumque, consequatur voluptatem quibusdam
            impedit perferendis? Deleniti, consequuntur? Debitis sapiente non
            quis id ipsa similique fuga consequuntur. bulk of the card's
            content.
          </p>
          <h4>mostafa</h4>
        </div>
      </div>
      <div class="card mx-auto shadow-none col-7 col-sm-3 p-3 mb-3">
        <div class="roundendimg">
          <img
            src="../../../assets/img/team-6-800x800.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body text-center p-2">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sunt
            sapiente laudantium ipsum cumque, consequatur voluptatem quibusdam
            impedit perferendis? Deleniti, consequuntur? Debitis sapiente non
            quis id ipsa similique fuga consequuntur. bulk of the card's
            content.
          </p>
          <h4>mostafa</h4>
        </div>
      </div>
      <div class="card mx-auto shadow-none col-7 col-sm-3 p-3 mb-3">
        <div class="roundendimg">
          <img
            src="../../../assets/img/team-4-800x800.jpg"
            class="card-img-top"
            alt="..."
          />
        </div>
        <div class="card-body text-center p-2">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic sunt
            sapiente laudantium ipsum cumque, consequatur voluptatem quibusdam
            impedit perferendis? Deleniti, consequuntur? Debitis sapiente non
            quis id ipsa similique fuga consequuntur. bulk of the card's
            content.
          </p>
          <h4>mostafa</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="aboutus row p-5" id="about">
    <div class="px-5 mb-3 col-12 col-md-6 col-sm-6">
      <img class="img-fluid" src="../../../assets/img/aboutus.jpg" alt="" />
    </div>
    <div class="col-12 col-md-4 col-sm-6 align-items-md-center">
      <div>
        <h1 class="mainheader">About Us</h1>
        <p class="ps-3 mt-2 mainSub">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident
          quasi cupiditate quisquam numquam illo! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Natus, obcaecati harum et eos sequi
          nesciunt consequatur culpa modi molestias eaque quibusdam error animi
          quia enim iusto odio ipsum reiciendis sint.
        </p>
      </div>
      <div class="text-center">
        <button class="btn mt-4">learn More</button>
      </div>
    </div>
  </div>
  <div class="contact">
    <div class="conimg justify-content-sm-start">
      <img src="../../../assets/img/Contact.png" alt="" />
    </div>
    <div class="context d-flex flex-column justify-content-around">
      <h2>contact Us</h2>
      <div class="text-white">
        <dl>
          <dt class="color">phone</dt>
          <dd>10390324</dd>
        </dl>
        <dl>
          <dt class="color">email</dt>
          <dd>Email@gamil.com</dd>
        </dl>
        <dl>
          <dt class="color">social</dt>
          <dd class="gap-3 d-flex">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-twitter"></i>
          </dd>
        </dl>
      </div>
    </div>
  </div>
</div>
