<div class="container content">
  <header class="d-none d-md-flex">
    <div class="row gap-md-2">
      <h4 class="text">All Exams taken</h4>
      <p class="subtitle">degress</p>
    </div>
  </header>
  <div class="row mt-5">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">frist Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Exam</th>
          <th scope="col">degree</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr *ngFor="let item of examINFO">
          <th scope="col">{{ item.fName }}</th>
          <td class="col">{{ item.lName }}</td>
          <td class="col">{{ item.email }}</td>
          <td class="col">{{ item.testName }}</td>
          <td class="col">{{ item.degree }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- justify-content-between -->
